@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {


  .scrollbar-custom::-webkit-scrollbar {
      width: 5px; /* Scrollbar width for WebKit browsers */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
      background: transparent; /* Track color */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
      background-color: white; /* Thumb color */
      border-radius: 4px; /* Rounded edges */
      border: 2px solid #edf2f7; /* Padding around thumb */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg{
  width: 100%;
  height: 100vh;
  background-image: url("../public/bg.jpg");
  background-size: cover;
  background-position: center center;
 
}